body {
    font-family: 'Courier New', Courier, monospace;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    position: relative;
    top: 3em;
}
h1{
    text-align: center;
    margin-bottom: 1em;
}
section{
    position: relative;
    width:30%;
    box-sizing: border-box;
    float: left;
    padding: 15px;
    margin-left: 33px;
    background-color: blanchedalmond;
    border: 1px solid black;
}
section>p{
    margin-top:2em;
}
h2{
    position: absolute;
    border: 1px solid black;
    top:0;
    right: 0;
}
#s1 h2{
    background-color: slategrey;
}
#s2 h2{
    background-color: olive;
}
#s3 h2{
    background-color: lightcoral;
}

/*-----------------Tablet view------------------*/
@media (min-width:768px) and (max-width:991px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .container{
        position: relative;
    }
    section{
        position: relative;
        width:45%;
        box-sizing: border-box;
        float: left;
        background-color: blanchedalmond;
        border: 1px solid black;
    }
    #s3{
        clear:left;
        width: 93.4%;
        box-sizing: border-box;
        margin-top:30px;
        margin-bottom:30px; 
    }
}
/*------------------Mobile view----------------*/
@media (max-width:767px){
    *{
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    .container{
        position: relative;
    }
    section{
        position: relative;
        width:95%;
        box-sizing: border-box;
        background-color: blanchedalmond;
        border: 1px solid black;
        margin-right: 45px;
        margin-bottom: 30px;
    }
}



